[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Requests = "*"
Flask = "*"
Flask-WTF = "*"
Flask-Assets = "*"
WTForms = "*"

[dev-packages]
Python-Dotenv = "*"
Lesscpy = "*"
CSSMin = "*"
JSMin = "*"

[requires]
python_version = "3.7"
