body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

  .demo {
    padding: 120px 0;
    background: #4181e4;
    color: white;
    text-align: center;

    .demo-preview {
      width: 671px;
      max-width: 90%;
      margin: auto;
    }

    #logo {
      width: 350px;
      margin: 0 auto;
    }

    p {
      width: 350px;
      margin: 10px auto 60px;
      text-align: center;
    }

    .alert {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 638px;
      margin: 30px auto;
      padding: 15px;
      border-radius: 2px;
      font-size: 0.8em;
      font-weight: 300;

      &.alert-warning {
        border-color: #ffeeba;
        background-color: #fff3cd;
        color: #856404;
      }

      button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        background: none;
        color: #856404;
        font-size: 1.5em;
        transition: all 0.2s ease-out;

        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }

    form {
      display: flex;
      position: relative;
      justify-content: space-between;
      width: 100%;
      margin: auto;

      .prefix {
        z-index: 100;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20px;
        height: fit-content;
        margin: auto;
        color: #979eb7;
      }



      input {
        -webkit-appearance: none;
        padding: 15px;
        outline: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;

        &[type="text"] {
          padding: 15px 15px 15px 79px;
        }
      }

      #url-field {
        width: 100%;
        border: 1px solid #dedede;
        border-radius: 3px 0 0 3px;
      }

      #submit {
        border: 0;
        border-radius: 0 3px 3px 0;
        background: #55bfa1;
        color: white;
        transition: all 0.2s ease-out;

        &:hover {
          background: white;
          color: #4182e4;
          cursor: pointer;
        }
      }
    }

    .response {
      width: 100%;
      margin: 0 auto;

      pre {
        margin: 0;

        code {
          display: none;
          width: -webkit-fill-available;
          padding: 10px;
          overflow-x: hidden;
          border-radius: 3px;
          font-family: 'Roboto Mono', monospace;
          font-size: 0.8em;
          text-align: left;
          white-space: pre-wrap;
        }
      }
    }
  }
}
